.contenedor-nav{
    background-color: rgba(76, 2, 99, 0.644); 
    flex-wrap: wrap;   
}
.navBar{
    padding: 10px;
}
.link{
    text-decoration: none;
    color: rgb(216, 213, 213) ;
    margin: 10px;
    font-size: 1.3rem;
    
    
}
.contenedor-sesion{
    flex-direction: row;
}
.contenedor-links{
    flex-direction: row;
}
@media (max-width: 668px) {
    .contenedor-sesion{
    justify-content:center;
}
.contenedor-icono{
    display: flex;
    justify-content: center;
}
}
.icono-nav{
    margin-left: 10px;
    margin-right: 20px;
}
.contenedor-carrito{
    margin-left: 20px;
}