.carta-productos{
margin: 25px;
height: 100%;
padding: 0;
box-sizing: border-box;

}
.Img{
    width: 50%;
    height: 40%;
    margin: 10px;
}
.contenedor-imagen{
    background-color: white;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.list-group-flush{
    width: 100%;
    border-top: 2px solid white;
}
.card-text{
    
    font-size: 1.2rem;
}
.info-descuento{
 margin:0;
 cursor: default
}
.titulo{
    margin: 0;
    color: rgba(103, 12, 131, 0.877);
}
.link-carta{
    background-color: white;
    color: black;
    border: 1px solid purple
}
.link-carta:hover{
    background-color: rgb(80, 21, 95);
}
.selector-categoria{
    border: 1px solid blueviolet;
    background-color: rgb(95, 30, 155);;
color: white;
padding: 10px;
border-radius: 5px;
cursor: pointer;
}
.selector-categoria:hover{
    background-color:rgb(134, 33, 250);
    color: white;
}
.contenedor-categoria{
    
    flex-direction: column;
}.contenedor-filtro-precio{
    flex-direction: column;
}
.boton-precio{
    background-color: rgb(95, 30, 155);
    border: 1px solid blueviolet;
}
.boton-precio:hover{
    background-color: rgb(134, 33, 250);
}
.input-rango{
    color: blueviolet;
    background-color: brown;
   
}
.input-rango[type=range] {
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    height: 10px;
    background: linear-gradient(90deg, #620080 0%, #ff0080 100%);
    border-radius: 5px;
    
  }

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default thumb */
    appearance: none;
    width: 15px;
    height: 15px;
    background: #54005c;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff; /* White border around the thumb */
    margin-top: 0px; /* Align thumb correctly with track */
  }
  .filtros{
    color: #620080;
  }
  .f{
    cursor: pointer;
  }
  .pagination {
    width: 100%; /* Asegura que la paginación ocupe el 100% del ancho disponible */
    overflow-x: auto; /* Permite que se despliegue en caso de que haya muchos números de página */
    white-space: nowrap; /* Asegura que los elementos de la paginación no se "rompan" en múltiples líneas */
    justify-content: center; /* Centra el contenido */
  }
  @media (max-width: 576px) {
    .pagination {
      font-size: 12px; /* Reduce el tamaño de la fuente para pantallas pequeñas */
    }
    
    .pagination-item {
      padding: 0.25rem 0.5rem; /* Reduce el tamaño del padding entre los items */
    }
  }